<!DOCTYPE html>
<html class="no-js">
<head>

<title>Is Pokemon Go up or down?</title>

<link rel="stylesheet" href="http://wtfsigte.com/css/screen.css">
</head>
<body>
<section class="grid grid--alpha main">
    <div class="grid__row">
        <div class="grid__column sml--column-3-3 med--column-6-6 lrg--column-12-12" style="margin-top:120px;">
        <center><h1 style="font-size:72px;">
        {% if status == True %}
            Pokemon Go is <span style="color:green;">up</span>
        {% endif %}
        {% if status == False %}
            Pokemon Go is <span style="color:red;">down</span>
        {% endif %}
        </h1></center>
        </div>
    </div>  
</body>
</html>